* {font-size: 12pt; font-family: Noto, sans-serif}
body {background-color: #ffffff; padding: 0em; margin: 0em}

/* Title */
.title {
    background-color: #3f51b5;
    font-size: 16pt;
    color: white;
    box-shadow: 0px 0.5px 0px #777777,
                0px 1.0px 0px #888888,
                0px 1.5px 0px #999999,
                0px 2.0px 0px #aaaaaa,
                0px 2.5px 0px #bbbbbb,
                0px 3.0px 0px #cccccc,
                0px 3.5px 0px #dddddd,
                0px 4.0px 0px #eeeeee;
    padding: 16px 24px 16px 24px;
}

/* Content */
.content {
    padding: 24px
}

/* Links */
a {color: #3f51b5}
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:hover {text-decoration: underline}
a:active {text-decoration: underline}

/* Paragraphs */
p {margin: 0em 0em 0em 0em}
ul {margin: 0.2em 0em 0.2em 1em}

/* Boxes */
table, input, div.value {border: none; border-radius: 0.2em; box-shadow: 1px 1px 4px rgba(0,0,0,0.5)}

/* Fields */
input, div.value {padding: 0.3em 0.6em 0.3em 0.6em; margin: 0em 0em 0.4em 0em; width: 90%}

/* Tables */
table {text-align: center; padding: 0.4em; border: none}
table.add {background-color: #ffbbbb; border-color: #bb0000}
table.sub {background-color: #bbffbb; border-color: #00bb00}
table.mul {background-color: #bbbbff; border-color: #0000bb}
table.div {background-color: #ffffbb; border-color: #888800}
table.neg {background-color: #bbffbb; border-color: #00bb00}
table.val {background-color: #ffffff; border-color: #888888}
table.val {padding: 0.1em 0.4em 0.1em 0.4em}
td {text-align: center; vertical-align: center}
tr {padding: 0em; border: 0em; margin: 0em}

/* Inputs */
input:focus {outline: none}
input.valid {border-color: #bbbbbb}
input.empty {border-color: #bbbbbb}
input.error {border-color: #ff0000; box-shadow: 1px 1px 4px rgba(255,0,0,1)}

/* Sections */
div {padding: 0em; margin: 0em}
div.feedback {color: #ff0000; font-style:italic; height: 0px}
div.heading {padding-top: 2em; padding-bottom: 0.4em; font-weight: bold}
div.value {border-color: #bbbbbb}

